extends ../layout.pug

block content
  h2 Contents
  ul
    each content in contents
      li
        strong= content.title
        p= content.description
        form(action=`/admin/delete-content/${content._id}`, method="POST")
          button(type="submit") Delete

  h2 Users
  ul
    each user in users
      li
        strong= user.username
        p= user.email
        form(action=`/admin/delete-user/${user._id}`, method="POST")
          button(type="submit") Delete